:root {
  --background: #f1f1f3;
}

section {
  font-size: 62.5%;
}

.full-screen-container-login {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ec1 {
  position: absolute;
  left: -2.9375rem;
  top: -13.5rem;
}

.ec2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ec3 {
  position: absolute;
  right: 13rem;
}


.sign-in-container {
  background-color: #d6d6dc;
  max-width: 625px;
  width: 25%;
  padding: 0 1.875rem 2.5rem 1.875rem;
  border-radius: 1.25rem;
  z-index: 100;
}

.logo {
  display: block;
  margin-top: 0.7rem;
  /* transform: translateX(28%); */
  margin: auto;
  width: 15rem;
}

.app-name {
  margin: 0;
  color: black;
  text-align: center;
  font-size: 1.5625rem;
  font-weight: normal;
  margin-bottom: 8.625rem;
}

.login-title {
  color: black;
  font-size: 1.125rem;
  margin-bottom: 1.875rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.input-container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}


.input-container input {
  font-size: .875rem;
  color: black;
  border: 0;
  outline: 0;
  border-radius: 0.625rem;
  height: 3.125rem;
  padding: 0;
  padding-left: 1rem;
  background: white;
  transition: all 0.15s;
  box-shadow: 0 0 0 0;
}

.input-container input::placeholder {
  color: #838496;
  border: 0;
  outline: 0;
}

.btn-sub {
  margin: 0;
  font-size: 1rem;
  padding: 0;
  height: 3.125rem;
  width: 100%;
  color: white;
  background-color: #3C3D47;
  border: none;
  transition: all 0.15s;
  border-radius: 0.625rem;
}

.btn-sub:hover {
  background-color: #4c4e61;
  cursor: pointer;
}

.btn-sub:active {
  background-color: #26262e;
}



i {
  display: inline;
  position: absolute;
  right: 5%;
  top: 40%;
  transform: scale(2.0);
  transition: all 0.15s;
}

i:hover {
  cursor: pointer;
  color: #333333;
}