* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

/* form component */

.MuiFormControl-root {
  width: 90%;
  text-align: center;
}
.MuiDialogTitle-root {
  background-color: #106375;
  color: white;
}

.MuiDialogContent-root {
  text-align: center;
}
