.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2b3d53;
  /* font-size: 5rem; */
  color: #fff;
}

.MenuItem {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: #346f82;
}

.pro-sidebar .pro-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pro-menu-item:not(:first-child):hover {
  border-left: 5px solid #346f82;
  box-sizing: border-box;
}

.pro-sidebar-layout {
  background-color: #1a222c;
}