.Header {
  background-color: #2b3d53;
  height: 72px;
  width: 100%;
  margin-top: 10px;
  
}

.Content-container {
  padding-left: 20px;
  margin-left: 270px;
  margin-top: 30px;
}

.drop-down-standard-manageStudent {
  margin-bottom: 40px;
  border: 1px solid #ccc;
}

